-e git+https://github.com/NobleNetworkCharterSchools/activity-history-conversion.git@e1c2558f3e05cd39d10780786137c497fe1772aa#egg=activity_history_conversion
asn1crypto==0.23.0
attrs==17.3.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.3
elasticsearch==5.3.0
fuzzywuzzy==0.15.1
idna==2.6
git+https://github.com/noblenetworkcharterschools/noble-logging-utils.git@5624d5dadc594e803a674ae1fdbd71ecd2a999ae#egg=noble_logging_utils
pluggy==0.6.0
py==1.5.2
pycparser==2.18
pyOpenSSL==17.5.0
pytest==3.3.0
python-Levenshtein==0.12.0
pytz==2017.3
requests==2.20.1
rollbar==0.13.17
salesforce-utils==0.1
simple-salesforce==0.73.0
six==1.11.0
structlog==18.2.0
urllib3==1.24.2
